@use "sass:map";
@import '../../../../sass/Helpers/variable';

.myHeaderTop{
    nav{
        padding: 0;
        ul{
        margin: 0;
            padding: 8px;
            list-style: none;
            li{
                border-right: 2px solid map-get($map: $theme-colors, $key: "black-1");
                padding: 0 10px;
            }
        }
    }
}