@use "sass:map";
@import "../Helpers/variable";
html,
body {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-size: 15px;
}

* {
    font-family: "Roboto", sans-serif;
    // color: map-get($map: $theme-colors, $key: "green-1")
}
ul{
    list-style: none;
    padding: 0;
}