// cac thay doi ve bien
$theme-colors: (
    "green-1": #087B39,
    "black-1": #0f0f0f
);
$green-2: #087B39;
$green-3:#0a6f3c;
$red-1: #e74c3c;
$red-2: #f03737;
$red-3: #c02026;
$white-1: #ffffff;
$gray-1:#DBDBDC;
$gray-2:#767676;
$gray-3:#888888;
$gray-4:#ececec;
$gray-5:#444444;
$gray-6:#F3F3F3;
$light-yellow-1:#f7ffd4;
// padding
$pd-1: 5px;
$pd-2: 10px;
$pd-3: 15px;
$pd-4: 20px;
$pd-5: 25px;
// fz
$fz-1: 5px;
$fz-2: 10px;
$fz-3: 15px;
$fz-4: 20px;
$fz-5: 25px;