.bgGray {
    background-color: $gray-6;
}

.myCart {

    .myCart-cost {
        i {
            font-size: $fz-4 - 1;
            cursor: pointer;
        }
    }

    .myCart-paymentCart {
        .myCard-title {
            background-color: $green-2;
            color: white;

            h5 {
                text-align: center;
            }

        }
        ul{
            li{
                display: flex;
                justify-content: space-between;
            }
        }
    }
    .myCartbtn{
        button{
            width: 300px;
            height: 50px;
        }
    }
}
// checkout
.myCheckout-ptvc{
    div{

        border-radius: 5px;
        padding: 10px;
        input{
            width: 15px;
        }
    }

}